:root {
    --primaryButtons: #0D47A1;
}

.btn-primary {
    background-color: var(--primaryButtons)
}

.btn-primary:disabled {
    background-color: var(--primaryButtons);
}

form .form-control {
    width: 480px;
}

.cont-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 920px) {
    form .form-control {
        width: 360px;
    }
}

@media (max-width: 280px) {
    form .form-control {
        width: 280px;
        position: relative;
        border-left: 70px;
    }
}